<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597113781760-hhbj42s53pajh3021n5djbt8f9abffpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597113781760-hhbj42s53pajh3021n5djbt8f9abffpc</string>
	<key>API_KEY</key>
	<string>AIzaSyASczmIRQLtFfABZS1VtUmN2w2oGDKZ2q8</string>
	<key>GCM_SENDER_ID</key>
	<string>597113781760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>subhash.FirebaseSignIn</string>
	<key>PROJECT_ID</key>
	<string>fir-demofirst-94773</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demofirst-94773.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597113781760:ios:b2fe62c779d5e67ff6e2e5</string>
</dict>
</plist>